# Ignore dataset files
model/datasets/**/*.jpg
model/preprocessing_result/*.png
model/preprocessing_result_dataset/**/*.jpg

# Ignore node package files
node_modules

# Ignore .ipynb_checkpoints 
.ipynb_checkpoints